$font: 'Verdana', 'sans-serif';
$color: #0B0C10;
body {
 text-align: center;
 font-family: $font;
 background-color: $color;
 color: white;
 margin: 10px;
 padding: 10px;
}

.success{
    background-color: #00FF00
}

.error, .errorlist{
    background-color: #FF0000
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
}

.menu{
    width: 100%;
    float: left;
    margin: 0;
    padding: 8px;
    height: 17px;
    background-color: #1f2833;
}

.menu li {
    font-family: $font;
    display: inline-block;
    font-weight: bold;
    vertical-align: auto;
    padding-right: 10px
}

.menu li a {
    font-family: $font;
    color: #66FCF1;
}

.navbutton:link {
    font-family: $font;
    color: darkblue;
    padding: 8px;
}

.navbutton:hover {
    transition: .3s;
    color: white;
}


table, th, td {
    border: 1px solid;
  }
