$font: 'Times New Roman', 'Times', serif;
$color: #DDDDDD;
body {
 font-family: $font;
 background-color: $color;
 margin: 10px;
 padding: 10px;
}
h1 {
 text-transform: uppercase;
}
.success{
    background-color: #00FF00}

.error, .errorlist{
    background-color: #FF0000}

td {
    text-align: center;
}

.menu{
    width: 100%;
    float: left;
    margin: 0;
    padding: 8px;
    height: 17px;
    background-color: bisque;
}

.menu li {
    display: inline;
}

.navbutton:link {
    font-family: $font;
    color: darkblue;
    padding: 8px;
}

.navbutton:hover {
    background: lightblue;
}