{% extends "base.html" %}
{% block content %}
<script>
function validateForm() {
    if (!$("#agreeToTerms").is(':checked')) {
        window.alert("Please checek terms and conidtions");
        return false;
    }
    if ($("#id_player_count").val() > 26) {
        window.alert("Player count too high");
        return false;
    }
    return true;
}
</script>
<h1>Register your team here</h1>
<form method="POST" enctype="multipart/form-data" onsubmit="return validateForm()" >
    <!-- Security token -->
    {% csrf_token %}
    <!-- Using the formset -->
    {{ form.as_p }}
    I agree to the terms and conditions<input type="checkbox" id="agreeToTerms">
    <br>
    <input type="submit" id ="submit" value="Submit">
{% endblock content %} 