{% extends "base.html" %}
{% block title %}
<title>Teams </title>
{% endblock title%}
{% block content %}
<table>
    <tr>
        <th>Team Logo</th>
        <th>Team ID</th>
        <th>Name</th>
        <th>Player Count</th>
        <th>Year Founded</th>
        <th>Owner Email</th>
    </tr>
    {% for team in team_list %}
        <tr>
            <td>
                <!--Checks if the team has a corresponding logo in the database-->
                {% if team.image %}
                <img src="static{{ team.image.url}}"width=100px>
                {% else %}
                <!--Otherwise use default football logo-->
                <img src="static/images/football_icon.jpg"width=50px>
                {% endif %}
            <td>
                {{ team.id }}
            </td>
            <td>
                {{ team.name | truncatechars:20}}
            </td>
            <td>
                {{ team.player_count}}
            </td>
            <td>
                {{team.year_founded}}
            </td>
            <td>
                {{team.owner_email}}
            </td>
        </tr>
    {% endfor %}
   </table> <hr/>
{% endblock content %} 